* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.note-solo-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
}

.card-body p:first-child {
  font-size: 1.5rem;
  padding: 5px;
}
.card-body p:last-child {
  color: gray;
  font-size: 1.2rem;
  padding: 5px;
}

.details-title {
  font-size: 1.8rem;
  border-bottom: 2px solid burlywood;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
